/* *{
	outline: 1px solid green;
} */
 /*////menu//////*/
 body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Merriweather', serif;
}
.flex-container{
	display:flex;
}
.menu{
	background-color: skyblue;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100px;
}
.menu.flex-container{
	justify-content: flex-start;
}
.logo-container{
	margin-left: auto;
	margin-right: 20px;
}
.flex-container .logo{
	width: 70px;
	height: 70px;
}
/**/
/*///////caja uno/////////*/
#caja-hombrecito{
	background-color: #18bc9c;
	height: 600px;
	width:100%;

}
.caja-uno{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}
.img-hombre{
	display: flex;
	align-items: column;
    padding-top:80px;

}
/**/
/*//////caja dos//////*/
.figurillas{
	width: 30%;
	height: 300px;
}
.caja-dos{
	margin-top: 100px;
	margin-bottom: 50px;
}
/**/
/*/////caja-tres/////*/
.contenedor{
	background-color: #18bc9c;
	width: 100%;
	height: 800px;
	color: white;
	/*section*/
}
.texto-caja-tres{
	width: 50%;
	height: 200px;
	
	font-size: 20px;
	/*texto-div*/
}
.about-letra{
	font-size: 30px;
	display: flex;
	justify-content: center;
    /* top:40px; */
    padding-top: 100px;
/*ABUOT*/
}
.container-caja-letra{
	width: 50%;
    display: flex;
    flex-direction: row-reverse;
}
/**/
/*////caja cuatro//////*/
.caja-cautro{

}
/**/
/*//////pie de pagina/////////////*/
#pie-pagina{
	overflow: auto;
	background-color: #34495E;
	width: 100%
	 height:auto; 
	/* height: 300px; */
	/**/
}
#iconos-footer{
	color:white;
	border-style: solid;
	border-radius: 50px;
	border-color: 1px ; 
	/* background: white; */
	font-size: 30px;

}
.cajillas{
	margin-top:50px;
	padding-top: 30px; 
	width: 30%;
	height: 200px;
	 float: right; 
	padding-right: 30px;
	/* margin-: 1left0px; */
	 display: flex;
	  align-items: baseline; 
	flex-direction:row;
	justify-content:center;
	align-items: center;
	 
	/*cajillas-div*/
}
 .ultimo-text{
	display: flex;
	align-items: center; 
	/* justify-content: center; */
}
 

